@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.leaflet-routing-alt {
    display: none;
}

path.leaflet-interactive.animate {
    stroke-dasharray: 1920;
    stroke-dashoffset: 1920;
    animation: dash 20s linear 3s forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.icon_signal_red {
    margin:100px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    box-shadow: 0 0 0 red;
    animation: pulse 2s infinite;
  }
  .icon_signal_red:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 red;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px red;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 red;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 red;
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }